<a href="https://colab.research.google.com/github/HelleR0/Books-Python/blob/main/Numpy%26Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
labels=['w','x','y','z']
sample_list=[100,200,300,400]
array=np.array([1,2,3,4])
dict={'w':10,'x':20,'y':30,'z':40}

In [ ]:
pd.Series(data=sample_list)

0    100
1    200
2    300
3    400
dtype: int64

In [ ]:
pd.Series(data=sample_list,index=labels)

w    100
x    200
y    300
z    400
dtype: int64

In [ ]:
pd.Series(sample_list,array)

1    100
2    200
3    300
4    400
dtype: int64

In [ ]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

In [ ]:
sports1=pd.Series([1,2,2,4],index=['Cricket','Football','Baseball','Golf'])
sports1

Cricket     1
Football    2
Baseball    2
Golf        4
dtype: int64

In [ ]:
sports1['Cricket']

1

In [ ]:
sports2=pd.Series([11,2,3,4],index=['Cricket','Football','Baseball','Golf'])
sports2

In [ ]:
sports1+sports2

In [ ]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H'.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

In [ ]:
df1["score3"]

In [ ]:
df1[['Score1','Score2','Score3']]

In [ ]:
df1['Score1']=df1['Score2']+df1['score3']

In [ ]:
df1['Score6']=df1['Score1']+df1['Score2']
df1

In [ ]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mickey','Akash','Kavin','Lally'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

In [ ]:
df['ID']

In [ ]:
df[['ID','NAME']]

In [ ]:
df=df.drop('ID',axis=1)

In [ ]:
df

In [ ]:
df=df.drop(3)

In [ ]:
df=df.drop(2,axis=0)